<%= render 'layouts/styled_mailer_top_logo' %>

<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" bgcolor="#ffffff" style="max-width: 680px;" class="email-container">
  <tr>
    <td bgcolor="#ffffff">
      <table role="presentation" cellspacing="0" cellpadding="20" border="0" width="100%">
        <tr>
          <td class="blue-body-text">
            <h1 style="font-size: 18px; font-weight: bold;">Hello <%= @resource.email %>!</h1>

            <p>Someone has requested a link to change your password. You can do this through the link below.</p>

            <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

            <p>If you didn't request this, please ignore this email.</p>

            <p>Your password won't change until you access the link above and create a new one.</p>

            <p>
              This reset password link will expire in 6 hours. If you would like to request another reset password link please visit
              <%= link_to 'this link', new_user_password_url, target: '_blank' %>.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
