<h1>Hello {{name}}, from the view.</h1>
<h2>FYI, the rails environment is: {{str}}</h2>

<h3>Items from simple ERB Array</h3>
<ul>
  <li *ngFor="let type of arr">{{type}}</li>
</ul>

<h3>Items from simple ERB Object</h3>
<ul>
  <li>Value for 'key': {{obj.key}}</li>
  <li>Value for 'pointer': {{obj.pointer}}</li>
</ul>

<h3>Items from ERB Object key pointing to an array</h3>
<ul>
  <li *ngFor="let animal of objArr.arr">{{animal}}</li>
</ul>

<h3>Items from ERB Object key pointing to an array</h3>
<ul>
  <li>Value for 'objArr.obj.sound': {{objArr.obj.sound}}</li>
</ul>

<h3>Items from ERB Object key pointing to an array or objects</h3>
<ul>
  <li *ngFor="let person of objArr.objArr">Name: {{person.name}}</li>
</ul>
